.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 1s ease;
}

.colorBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  border-radius: 8px 8px 0 0;
}

.root.collapsed .colorBox {
  border-radius: 8px 8px 8px 0;
}

.content, .tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
}

.content {
  margin: 4px;
  overflow: hidden;
}

.item {
  display: flex;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  text-align: center;
}

.icon {
  font-size: 16px;
}
