.filtersContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;

  :global {
    .ant-select-selection {
      border: none;

      &:focus, &:active{
        box-shadow: none;
      }

      &__rendered {
        margin-left: 0;
        margin-right: calc(24px + 6px);
      }
    }
  }
}
