@import '@assets/styles/theme.less';

.container:not(.readOnly) :global {
    .ant-checkbox-wrapper {
        display: flex;
        align-items: center;
        min-height: var(--field-height);
    }
}

td .container {
    padding: 0 12px;
}
