lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.anyConstructor.addConstructorProperties = true
lombok.addLombokGeneratedAnnotation = true
config.stopBubbling = true
lombok.accessors.chain = true
