@import 'antd/dist/antd.css';
@import './assets/styles/fonts.module.css';

#root {
    height: 100%;
}

body {
    overflow: hidden; /* So that the Tooltip from the FileUploadContainer, when scrolling from bottom to top, does not affect the scroll bar due to the fact that it scrolls down */
    font-family: 'Roboto', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
    box-sizing: border-box;
}

.ant-notification {
    z-index: 1060 !important;
}

.ant-select-dropdown, .ant-dropdown, .ant-message, .rc-select-dropdown {
    /* for correct display of selectors in popup */
    z-index: 1058 !important;
}
