@import "../../../../assets/styles/theme";

.labelArea {
    flex: 2 0;
    padding-right: 10px;
}

.label {
    font-weight: 700;
}
.label, :global(.ant-typography) {
    color: @main-light-mode;
}

.hint {
    opacity: 0.5;
}

.fieldData :global([class^='ReadOnlyField']), .fieldData :global([class*='_readOnly']) {
    line-height: 20px;
    color: @main-light-mode;
}

.fieldData {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 3 0;
    overflow: hidden;
    padding: 5px 0;
}
