.container {
    height: 100%;
    min-height: 52px;
}

.fieldArea {
    display: flex;
    min-height: 100%;
    margin: 0 12px;
}

.columnDirection {
    flex-direction: column;
    align-items: flex-start;
}

.rowDirection {
    align-items: center;
    box-shadow: 0 1px 0 0 #d5d5d5, 0 1px 0 0 #d5d5d5 inset;
}
