.container :global(.ant-modal-header) {
    font-weight: 700;
    border-bottom: none;
}
.container :global(.ant-modal-header > tr > th) {
    background: none;
}
.container :global(.ant-modal-footer) {
    border-top: none;
}

.container :global(.ant-table-tbody > tr:hover > td) {
    background: #fafafa !important;
}
