<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework.context.support.ResourceBundleMessageSource" level="OFF"/>
  <logger name="org.cxbox.api.util.i18n.ErrorMessageSource" level="OFF"/>
  <logger name="org.cxbox.api.util.i18n.InfoMessageSource" level="OFF"/>
  <logger name="org.hibernate.SQL" level="TRACE"/>
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
  <logger name="oorg.hibernate.orm.jdbc.bind" level="OFF"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>