@import '../../assets/styles/theme';

.container.line {
    font-weight: 500;
    overflow: hidden;
}

.container.line :global(.ant-tabs-bar) {
    border: none;
    margin: 0;
}

.container.line :global(.ant-tabs-tab-active) .item {
    color: @primary-red;
}

.container.line :global(.ant-tabs-tab) {
    padding: 21px 16px 20px 16px;
}

.container.line :global(.ant-tabs-ink-bar) {
    background-color: @primary-red;
    height: 2px;
    bottom: 2px;
}

.container.line .item {
    color: #000000D9;
    font-size: 14px;
}

.container.card {
    height: 40px;
    width: 100%;

    :global {
        .ant-tabs.ant-tabs-card {
            height: 40px;

            .ant-tabs-bar {
                margin: 0;
            }

            .ant-tabs-nav-scroll {
                .ant-tabs-tab {
                    position: relative;
                    align-items: center;
                    height: 40px;
                    border: 1px solid #f0f0f0;
                    padding: 0 16px;
                    margin: 0 4px 0 0 !important;
                    background: #fafafa;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        right: -5px;
                        display: block;
                        width: 4px;
                        height: 1px;
                        border-bottom: 1px solid #f0f0f0;
                    }

                    &:last-child::before {
                        display: none;
                    }

                    span {
                        display: inline-block;
                        white-space: nowrap;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 40px;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    &.ant-tabs-tab-active {
                        border-bottom: 1px solid #fff;
                        background: #fff;

                        span {
                            color: #1890ff;
                        }
                    }
                }
            }

            .ant-tabs-ink-bar {
                display: none !important;
            }
        }
    }
}


