@value colors "../../assets/styles/theme.module.css";
@value main-light-mode, accent from colors;

.container {
    overflow: hidden;
}

.container :global(.ant-tabs-ink-bar) {
    background-color: accent;
}

.container :global(.ant-tabs-bar) {
    border: none;
}

.item {
    font-size: 14px;
    line-height: 20px;
    color: main-light-mode;
}

