.itemGroup {
  :global(.ant-dropdown-menu-item-group-list) {
    margin: 0;
  }
}

.dropdown {
  :global(.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow) {
    position: absolute;
    right: 8px;
    top: 5px;
  }
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.itemIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

