.root :global(.unsupported-message) {
    height: 100%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border: 1px solid #f0f2f5;
    border-radius: 2px;

    background: #f0f2f5;

    object-fit: contain;
  }
}

.pdf {
  width: 100%;
}
