.inputSuffix {
    padding: 0;
}

.inputSuffixContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinnerContainer {
    position: relative;
    width: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: 2px;
    transform: translateY(-50%);
}
