.container {
    display: flex;
    word-break: normal;
    position: relative;
}

.sort {
    visibility: hidden;
}

.container:hover .sort {
    visibility: visible;
}

.closeButton {
    position: relative;
    right: -10px;
    top: -10px;

    &:global(.ant-btn .anticon) {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
}

.rightAlignment {
    justify-content: flex-end;
}
