@import '../../assets/styles/theme';

.debugWidgetWrapper {
    margin: 2px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px @debug-main;
}

.debugPanelWrapper {
    padding-left: 6px;
    padding-right: 6px;
    background: @debug-main;
}

.debugPanel {
    width: 100%;
    box-shadow: none;
}

.widget {
    padding: 1px;
}

.widget:empty {
    padding: 0;
}
