/**
 * Main theme customizaion
 */
@import '../../../node_modules/antd/es/style/themes/default.less';

@icon-url: "~assets/fonts/iconfonts/iconfont";

//REWRITE ANT STYLE EXPRESSIONS
@border-color-base: #909090;
@primary-color: #325086;
@layout-body-background: #d8d8d8;

//Primary theme color
@primary-blue-gray: #363c49;
//selection onto primary color
@primary-blue-gray-dark-half: #424852;
// Branding blue color
@primary-icon-blue: #3980c1;

@primary-mute-gray: #3e3e3e;
@primary-beige: #faeec2;
@primary-mute-beige: #fcf6e0;
@primary-milk: #d9d9d9;
@primary-green: #6ab300;
@primary-red: #b31c1c;
@primary-orange: #b3851b;
@primary-white-gray: #f5f5f5;
@primary-gray-text: #747474;

// Text black
@primary-black-for-text: #353535;
// Separator color
@primary-header-separator: #e5e5e5;

@shadow-1: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
@shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@ease-in: ease-in;
@font-family-no-number: "Roboto", Helvetica, Arial, sans-serif;
@font-family: @font-family-no-number;
@max-z-index: 2147483647;

@disabled-color: @text-color;
@disabled-bg: #f1f1f1;

@list-odd-row-bg: @disabled-bg;
@list-border-color: #dfdcdc;

// ant update fix
@background-color-active: #eee;

/*light mode*/
@main-light-mode: #141F35;
@accent: #3F7BEF;
@accent20: #3F7BEF33;
@not-available: #BBC9D9;
@warning: #FCA546;
@warning20: #FCA54633;

@error: #EC3F3F;
@error20: #EC3F3F33;

@success: #008C3E;
@success: #008C3E33;

/*dark mode*/
@main-dark-mode: #FFFFFF;
