// same content spacing as FormPopup
.popupContainer :global(.ant-modal-body) {
    overflow-y: initial;
}

.content {
    padding: 30px;
}

.content div[class*='FormWidget__colWrapper'] {
    padding: 0;
}
