.root {
  width: 100%;
}

.span {
  margin-left: 8px;
}

.dropDownMenu :global(.ant-select-dropdown-menu-item-selected ):not(:hover) {
  background-color: white;
}

.readOnly {
  display: inline-block;
  max-width: 100%;
  color: var(--field-read-color);
  font-size: var(--field-read-font-size);
}

td .readOnly {
  padding: 0 12px;
}
