.container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  line-height: inherit; /* to automatically calculate the height inside a container */
}

.content {
  user-select: none;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background: linear-gradient(
          to right,
          transparent 0%,
          #ffffff 100%
  );
  pointer-events: none; /* so that clicks pass through the gradient to the button */
}

.moreButton:global(.ant-btn) {
  position: absolute;
  bottom: 0;
  right: 2px;

  /* To display a button similar to text */
  height: var(--clamp-line-height, 1lh) !important;
  line-height: inherit !important;
  font-size: inherit  !important;
  color: inherit !important;

  border: none;
  border-radius: 0;
  box-shadow: none;

  /* Disable antd wave animation */
  &::after {
    display: none !important;
    animation: none !important;
  }
}

.popoverContent {
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-word;
}
