@value colors "../../../assets/styles/theme.module.css";
@value main-light-mode from colors;

.formContainer :global(.ant-form) {
    margin-left: 12px;
}

.formContainer :global(.ant-form-item) {
    font-family: openSans_regular;
}

.formContainer :global(.ant-form-item-label > label) {
    font-family: openSans_bold;
    line-height: 20px;
    color: main-light-mode;
}

.formContainer :global(.ant-form .ant-row > .ant-row > .ant-col input),
.formContainer :global(.ant-form .ant-row > .ant-row > .ant-col textarea),
.formContainer :global(.ant-form .ant-row > .ant-row > .ant-col .ant-select-selection__rendered),
.formContainer :global(.ant-form .ant-row > .ant-row > .ant-col .ant-select-dropdown-menu-item) {
    color: main-light-mode;
}
/* TODO remove the fixes after moving components from the core */
/* fix for grid form ant.d 3.x.x before */
.formContainer div[class*="FormWidget__colWrapper"] {
    padding: 0 24px 0 0;
}

.formContainer div[class*="FormWidget__colWrapper"]:last-child {
    padding: 0 24px 0 0;
}
.formContainer > form {
    margin: 0 12px;
}
/* fix for grid form ant.d 3.x.x after */

/* fix for displaying checkbox before */
.formContainer div[class^="CheckboxPicker__container"] :global(.ant-checkbox-wrapper) {
    display: flex;
    flex-direction: column-reverse;
}

.formContainer div[class^="CheckboxPicker__container"] :global(.ant-checkbox + span) {
    padding: 0 0 8px;
    font-family: openSans_bold;
    line-height: 20px;
    color: #141F35;
    white-space: initial;
    text-align: left;
    font-size: 14px;
}
/* fix for displaying checkbox after */

