.formContainer [class*="FormWidget__colWrapper"] {
    padding: 0 24px 0 0;
}

.div[class*="FormWidget__required"] {
    :global(.ant-form-item-label label.ant-form-item-no-colon::after) {
        content: "*";
        display: inline-block;
        color: red;
    }
}


.formContainer {
    :global(.ant-form-item) {
        margin-bottom: 16px;
    }

    :global {
        .ant-col.ant-form-item-label {
            padding-bottom: 2px;
            white-space: normal; // ie11 word wrap fix

            label {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.85);
            }
        }

        .ant-col.ant-form-item-control-wrapper {

            .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
                border-color: #d9d9d9;
            }

            input:not([class*="ant-select"]) {
                height: 40px;
                padding: 0 12px;
                border: 1px solid #d9d9d9;
                border-radius: 2px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.85);
            }



            .ant-select-selection--single {
                height: 40px;
                border-radius: 2px;

                .ant-select-selection__rendered {
                    height:100%;
                    margin: 0;
                    padding: 0 11px;
                    color: rgba(0, 0, 0, 0.85);
                    line-height: 40px;
                    font-size: 16px;
                    font-weight: 400;

                    .ant-select-search--inline {
                        left: 0;
                    }
                }
            }

            .ant-input-group {
                input {
                    border-right: none;
                    border-radius: 2px 0 0 2px;

                    &:focus {
                        box-shadow: none;
                    }
                }

                .ant-input-group-addon {
                    width: 32px;
                    border: 1px solid #d9d9d9;
                    border-left: none;
                    padding: 0;
                    border-radius: 0 2px 2px 0;
                    background: transparent;

                    i {
                        display: block;
                        width: 100%;
                        height: 38px;
                        background: url('./images/folder.svg') no-repeat center right 12px;

                        &[class*="disabledButton"] {
                            background-color: #f5f5f5;
                        }

                        svg {
                            display: none;
                        }
                    }
                }
            }

            div[class*='_fileUpload_'] {
                height: 40px;
                border-color: #d9d9d9;

                &[class*='_error_'] {
                    border-color: red;
                }

                & > * {
                    height: inherit;
                }

                [class*='_downloadLink_'] {
                    display: flex;
                    align-items: center;
                }

                [class*='_uploadButton_'] {
                    border-color: #d9d9d9;
                }

                [class*='_uploadLink_'] {
                    display: flex;
                    align-items: center;
                }
            }

            .ant-form-item-control.has-error {
                input {
                    border-color: #f85359;
                }

                .ant-input-group-addon {
                    border-color: #f85359;
                }
            }
        }
    }
}

/* TODO remove the fixes after moving components from the core */
/* fix for grid form ant.d 3.x.x before */
.formContainer div[class*="FormWidget__colWrapper"] {
    padding: 0 24px 0 0;
}

.formContainer div[class*="FormWidget__colWrapper"]:last-child {
    padding: 0 24px 0 0;
}
.formContainer > form {
    margin: 0 12px;
}
/* fix for grid form ant.d 3.x.x after */

/* fix for displaying checkbox before */
.formContainer div[class^="CheckboxPicker__container"] :global(.ant-checkbox-wrapper) {
    display: flex;
    flex-direction: column-reverse;
}

.formContainer div[class^="CheckboxPicker__container"] :global(.ant-checkbox + span) {
    padding: 0 0 8px;
    font-weight: 700;
    line-height: 20px;
    color: #141F35;
    white-space: initial;
    text-align: left;
    font-size: 14px;
}

.formContainer div[class^="CheckboxPicker__container"] :global(.ant-checkbox) {
    align-self: flex-start;
}
/* fix for displaying checkbox after */
