.widgetContainer {
    padding: 24px 24px 40px;
    border-radius: 8px;
    background-color: #F6F6F6;
}

.title {
    font-weight: bold;
}

.rowLabel {
    display: flex;
}

.underline {
    border-bottom: black dashed 1px;
    opacity: 0.1;
    flex: 1;
}

.fieldOverride {
    justify-content: start;
}