@import '../../assets/styles/theme';

.container {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 24px;
}

.operations {
    margin-bottom: 10px;
}

.widgetTitle {
    color: @main-light-mode;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 12px;
}
