.formItem {
    display: flex;
    flex-direction: column;
    height: calc(100% - 16px);
    margin-bottom: 16px;

    :global {
        .ant-form-item-control-wrapper {
            margin-top: auto;
        }
    }
}
