.root {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.hoverEnabled.root {
    cursor: pointer;

    &:hover {
        .main {
            opacity: 0.7;
        }
    }
}

.preview {
    position: absolute;
    bottom: 2px;
    right: -4px;
    transform: translateY(40%);
  &.audio {
    color: #000;
    background-color: #fff;
    font-size: 9px;
    box-shadow: 0 0 3px 2px #00000017;
    width: 16px;
    height: 13px;
    border-radius: 8px;
    margin: 1px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      width: unset !important;
      height: unset !important;
    }
  }
}
