.container {
    --field-icon-color: #000000a6;
    --field-select-icon-size: 14px;
    --field-open-popup-icon-size: 16px;
    --field-select-icon-offcet: 43px;

    position: relative;
    display: block;
    width: 100%;


    .openIcon {
      position: absolute;
      top: 49%;
      right: 11px;

      margin-top: calc(-0.5 * var(--field-open-popup-icon-size));
      font-size: var(--field-open-popup-icon-size);
      color: var(--field-icon-color);
      width: var(--field-open-popup-icon-size);
      height: var(--field-open-popup-icon-size);
    }

    :global(.ant-select-selection__clear) {
      right: var(--field-select-icon-offcet);
      opacity: 1;
    }

    // so that there is no text under the icons
    :global(.ant-select-no-arrow .ant-select-selection__rendered) {
      margin-right: 58px;
    }
}

.disabledButton {
    cursor: not-allowed;
}
