.inlinePickList {
    position: relative;
    display: block;
    width: 100%;

    :global {
        .ant-select {
            width: 100%;

            .ant-select-selection__placeholder {
                padding-right: 11px;
                padding-left: 11px;
            }

            .ant-select-search {
                left: 0;

                .ant-select-search__field {
                    padding-right: 11px;
                    padding-left: 11px;
                }
            }

            .ant-select-selection.ant-select-selection--single {
                padding-right: 48px;

                .ant-select-selection__rendered {
                    margin: 0;
                    padding-left: 11px;
                }
            }

            .ant-select-selection__clear {
                right: 43px;
                transform: translateY(-50%);
                margin: 0;
                padding-left: 4px;
                width: auto;
                height: auto;
                opacity: 1;
                font-size: inherit;
                color: rgba(0, 0, 0, 0.65);

                svg {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}

.buttonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 1px;
    height: 100%;
    background-color: transparent;
    border-radius: 0 2px 2px 0;
    cursor: pointer;

    i {
        display: block;
        width: 32px;
        height: 100%;
        background: url('/assets/icons/folder.svg') no-repeat center right 12px;

        svg {
            display: none;
        }
    }
}

.disabledButton {
    cursor: not-allowed;
}

.withoutPopupOpenButton {
    :global {
        .ant-select {
            .ant-select-selection.ant-select-selection--single {
                padding-right: 16px;
            }
            .ant-select-selection__clear {
                right: 11px;
            }
        }
    }
}
