.compact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  button + button {
    margin: 0;
  }
}

.wrapper {
  display: flex;
  max-width: max-content;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  & > div {
    flex-grow: 1;
  }

  button + button {
    margin: 0;
  }
}

.fullscreen {
  position: relative;

  .arrow {
    --white: #ffffff;
    --bg-default-color: #1C1D1D;
    --bg-hover-color: #1C1D1D;
    --border-hover-color: #464646;
    --bg-disabled-color: #3d4042;
    --text-disabled-color: #5a5c5e;
    --antd-wave-shadow-color: var(--border-hover-color);

    color: var(--white);
    background: var(--bg-default-color);
    border: 1px solid var(--bg-default-color);

    &:hover, &:active {
      background: var(--bg-hover-color);
      border-color: var(--border-hover-color);
    }

    &[disabled] {
      color: var(--text-disabled-color);
      border-color: var(--text-disabled-color);
      background: var(--bg-disabled-color);
    }
  }

  .arrow {
    position: absolute;
    z-index: 110;

    transform: translateY(-50%);
    top: 50%;
    left: 24px;
  }

  .arrow + .arrow {
    left: initial;
    right: 24px;
  }
}

.fullscreen, .compact, .wrapper {
    .button {
      width: 56px;
      height: 42px;
    }
}

.carouselList, .image {
  .arrow {

    --antd-wave-shadow-color: black;

    //&, &:hover, &:active, &:focus {
    //  :global(.anticon) {
    //    font-size: 32px;
    //
    //    color: white;
    //
    //    svg path {
    //      stroke-width: 15px;
    //      stroke: black;
    //    }
    //  }
    //}
    //
    //&:hover, &:active, &:focus {
    //  :global(.anticon) {
    //    color: black;
    //
    //    svg path {
    //      stroke: white;
    //    }
    //  }
    //}
  }
}

.image {
  position: relative;

  .arrow {
    position: absolute;
    z-index: 110;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(-50%);
    top: 50%;
    left: 10px;
  }

  .arrow + .arrow {
    left: initial;
    right: 10px;
  }
}

.carouselList {
  position: relative;
  padding: 0 24px;

  .arrow {
    &, &:hover, &:active, &:focus {
      border-color: #d9d9d9;
    }
  }


  .arrow {
    width: 20px;
    position: absolute;
    z-index: 110;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(-50%);
    top: 50%;
    left: 0;

    height: 100%;
  }

  .arrow:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-right: 0;

    &, &:hover, &:active, &:focus {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      border-right: 0;
    }

  }

  .arrow + .arrow {
    left: initial;
    right: 0;

    &, &:hover, &:active, &:focus {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      border-left: 0;
    }

  }
}
