@import '../../assets/styles/theme';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

.operations {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 8px;
    row-gap: 10px;
}

.operationsLeftBlock {
    display: flex;
    align-items: inherit;
    column-gap: inherit;
    margin-left: auto;
}

.empty {
    margin-bottom: 0;
}

