.container {
    width: 100%;
}

.search {
    margin-bottom: 8px;
}

.header {
    font-weight: bold;
}

.list {
    padding: 2px 0;
    margin-bottom: 0;
    list-style: none;
    overflow: auto;
}

.listItem:not(:last-child) {
    padding-bottom: 5px;
}

.listItemIcon {
    margin-right: 4px;
}

:global(.ant-checkbox-wrapper).checkbox {
    margin-right: 7px;

    :global(.ant-checkbox-inner) {
        border-color: #9c9c9c;
    }
}

.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
}
