.logoContainer {
    display: flex;
    justify-content: flex-start;
    padding: 1.5em 24px 3em 24px;
    max-width: 100%;
    overflow: hidden;
}

.collapsed.logoContainer {
    margin-left: -3px;
    padding: 1.5em 0;
}

.side {
    background: #262626;
    border-radius: 0 8px 8px 0;
}
