.root {}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.previewGroup {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.65);
}

.card.active [class*='FileViewer__preview'] {
  border-width: 5px;
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}


