.coloredValue {
    min-width: 100px;
    min-height: 32px;
    width: auto;
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconTooltip {
    cursor: pointer;
}

td .root:not(.coloredValue):not(.onlyIcon) {
    padding: 0 12px;
}

td .root.onlyIcon {
    padding: 0 0 0 12px;
}


