.root {
    width: 100%;
}

.fileName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    :global(.anticon) {
        margin-right: 7px;
        font-size: 16px;
    }
}
