name: Build project

on:
  push:
    branches-ignore:
      - 'main'
      - 'react_query'
  pull_request:
    branches-ignore:
      - 'main'
      - 'react_query'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_EVENT_NAME: ${{ github.event_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['17']
    steps:
      - uses: actions/checkout@v3

      - name: Validate MR title
        shell: bash
        env:
          LC_ALL: C.UTF-8
        run: |
          echo "Checking MR title format..."ф
          # If it's a push — try to find an open PR for this branch
          TITLE=$(gh pr list --head "$GITHUB_REF_NAME" --state open --json title -q '.[0].title')
          
          # If no PR exists — determine the number of commits and set the title based on commits in the branch
          
          if [ -z "$TITLE" ]; then
          # If no PR exists — determine the number of commits and set the title based on commits in the branch
          
          TARGET_BRANCH="main"
          
          # Make sure the main branch info is up to date
          git fetch origin $TARGET_BRANCH
          
          # Count how many commits are in the current branch but not in main
          COMMIT_COUNT=$(git rev-list --count origin/$TARGET_BRANCH..HEAD)
          
            # If there is only one commit — use its message as the title
            if [ "$COMMIT_COUNT" -eq 1 ]; then
              TITLE=$(git log -1 --pretty=%s)
            else
            # If there are multiple commits — use the branch name as the title
              BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
              TITLE="$BRANCH_NAME"
            fi
          fi
          
          
          if [ -z "$TITLE" ]; then
          # If there is no commit message either — skip the check
          echo "⚠️ No PR and no commit title found for branch $GITHUB_REF_NAME. Skipping title check."
          exit 0
          fi
          
          echo "Title: $TITLE"
          
          LEFT_PART=$(echo "$TITLE" | cut -d'|' -f1 | xargs)   # ticket
          RIGHT_PART=$(echo "$TITLE" | cut -d'|' -f2 | xargs)  # type + description
          
          ERROR_MESSAGE="::error ::
          ✅ Correct examples:
            CXBOX-1234 | Fixed. Fixed login bug
            CXBOX-5678 | Added. New feature
          
          Rules:
            • Start with ticket number (CXBOX-XXXX)
            • Then ' | ' (space, pipe, space)
            • Then 'Fixed.' or 'Added.'
            • Then a description starting with a capital letter"
          
          # 0. Check |
          if [[ "$TITLE" != *"|"* ]]; then
          echo "::error ::❌  MR title does not match the required format: Add ' | ' separator!"
            echo "$ERROR_MESSAGE"
            exit 1
          fi
          echo "✅  ' | ' separator"
          
          # 1. Check ticket
          if [[ ! $LEFT_PART =~ ^CXBOX-[0-9]+$ ]]; then
            echo "::error ::❌ MR title does not match the required format: Add number ticket (CXBOX-) !"
            echo "$ERROR_MESSAGE"
            exit 1
          fi
          echo "✅ Check ticket"
          
          # 2. Check type changing
          TYPE=$(echo "$RIGHT_PART" | awk '{print $1}' | sed 's/\.//')   
          if [[ ! "$TYPE" =~ ^(Fixed|Added)$ ]]; then
            echo "::error ::❌ MR title does not match the required format: Add type changing (Fixed|Added) !"
            echo "$ERROR_MESSAGE"
            exit 1
          fi
          echo "✅ Check type changing"
          
          # 3. Check first char in description
          DESCRIPTION=$(echo "$RIGHT_PART" | cut -d' ' -f2-)
          DESCRIPTION_NO_SPACES="${DESCRIPTION// /}"
          FIRST_CHAR=${DESCRIPTION_NO_SPACES:0:1}
          
          case "$FIRST_CHAR" in
          [A-ZА-Я]*)
          echo "✅ First char is capital"
          ;;
          *)
          echo "::error ::❌ MR title does not match the required format: Description must start with a capital letter!"
          echo "$ERROR_MESSAGE"
          exit 1
          ;;
          esac
                  echo "✅ MR title is valid."

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          cache: "maven"
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: "yarn"
          cache-dependency-path: ui
      - name: Java version
        run: java -version
      - name: Maven version
        run: mvn -v
      - name: Node version
        run: node -v
      - name: Npm version
        run: npm -v
      - name: Yarn version
        run: yarn -v
      - name: Yarn version /usr/local/bin/
        run: /usr/local/bin/yarn -v
      - name: Build with Maven
        run: mvn clean install -U -PUI -Pcoverage sonar:sonar -Dsonar.organization=cx-box -Dsonar.projectKey=CX-Box_cxbox-demo -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}